<!-- Image Display -->
<figure class="image">
  <img src={{imageUrl}} alt="Placeholder image">
</figure>

<!-- Username and Date -->
<div class="content">
  <p>
    <strong>Username:</strong> {{userId}}<br/>
    <strong>{{title}} ({{medium}})</strong><br/>
    {{description}}
  </p>
</div>