<!-- Image Display -->
<figure class="image">
  <img src={{imageUrl}} alt="Placeholder image">
</figure>

<!-- Username-->
<div class="content">
  <p>
    <strong>Username:</strong> {{this.user.name}}<br/>
    <strong>{{title}} ({{medium}})</strong><br/>
    {{description}}
  </p>
</div>